  /* Section CSS */
  .buttonHeader, .buttonHeader:hover {
    box-shadow: none;
    background: #7298da;
    color: #ddd !important;
    outline: none;
  }
  .buttonHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2.5px;
    margin-top: 25px;
  }
  .buttonHeader:hover {
    background: #424242;
    color: #ccc !important;
  }

  /*.main {}
  
    .spotlight {}
  
      .content {}

        .major {}*/

          .major h2 {
            color: white;
            letter-spacing: 2.5px;
            font-weight: 400;
          }
        
        .dsc {
          color: #ddd;
          font-size: 18.75px;
        }


        /* Features */

        /*.features {}

          .features li {}*/

            .features li .icon {
              font-size: 75px;
              color: #ddd;
            }

            .features li h3 {
              color: white !important;
              font-weight: 400;
            }

        /* Team */

        /*.team-sct {}*/
            
            .team-sct h2 {
              color: white !important;
            }

              /*.team-sct li {}*/

                .team-sct li img {
                  width: 75px;
                  height: 75px;
                }

                  /*.team-sct li p {}*/


