/* Scroll Bar */

::-webkit-scrollbar {
    width: 12.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    background: #3d3d3d;
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
