body {
    background-image: url("https://soosbot.com/error/background.png");
    user-select: none;
}
div {
    background: #252525;
    color: white;
    padding: 17px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px 40px 6px black;
}
a {
text-decoration: none;
color: white;
padding: 8px;
border-radius: 0.25em;
transition: 0.5s;
font-size: 10x;
}
a:hover {
box-shadow: 3px 3px 40px 6px black;
}
button:hover {
box-shadow: 3px 3px 40px 6px black;
}
p {
padding: 8px;
}
h2 {
padding: 8px;
}